head: "Linux operating system training"
text: "I am able to conduct training online in the form of a video consultation."
head1: "Basics of working in GNU / Linux OS"
text1: "If you have not used the operating system yet"
text2: ", this course is ideal for you. In this course, you will learn the differences between Linux and Windows and how to use it. You will learn what distributions are and what the differences are between them. I'll introduce you to and work with the KDE and Gnome desktop environments. I will show you programs that are an alternative to the most common programs on a Windows PC."
head2: "You will gain a basic awareness of alternative programs and their use to:"
text3: "After completing this"
text3.1: "training"
text3.2: "you control the Linux operating system, so you will help use it for normal work instead of Windows."
head3: " Training syllabus"
text4: "Word processor: Microsoft Word -> LibreOffice Writer"
text5: "Spreadsheet Processor: Microsoft Excel -> LibreOffice Calc"
text6: "Bitmap graphics: GIMP"
text7: "Vector graphics: Inkscape"
text8: "Burning software: K3B"
text9: "Video editing"
text10: "Viewing pictures"
text11: "Working with files"
text12: "Mail client"
head4: "Knowledge requirements"
text13: "General knowledge of computers."
text14: "I am interested in the details of the GNU / Linux Basics training"
head5: "Advanced work with GNU / Linux OS"
text15: "You will learn to work in"
text15.1: "console"
text15.2: ". Streamline your work with scripting in the language"
text15.3: "using various tools"
head6: "Knowledge requirements"
text16: "Basic knowledge of working with PC with Linux OS."
text17: "I am interested in the details of the Advanced GNU / Linux training"