head: "Školení operační systém Linux"
text: "Školení jsem schopen provádět online formou video konzultace."
head1: "Základy práce v OS GNU/Linux"
text1: "Pokud jste zatím nepoužívali operační systém"
text2: ", je pro Vás tento kurz ideální. V kurzu se dozvíte, jaké jsou rozdíly Linuxu oproti Windows, a jak ho používat. Dozvíte se, co jsou to distribuce a jaké jsou rozdíly mezi nimi. Seznámím Vás s desktopovým prostředím KDE a Gnome a prací v něm. Ukáži Vám programy, které jsou alternativou k nejběžnějším programům na PC s Windows."
head2: "Získáte základní povědomí o alternativních programech a jejich použití k:"
text3: "Po absolvování tohoto"
text3.1: "školení"
text3.2: "ovládnete operační systém Linux, tak ho budete pomoci používat na běžnou práci místo Windows."
head3: " Osnova školení"
text4: "Textový procesor: Microsoft Word -> LibreOffice Writer"
text5: "Tabulkový procesor: Microsoft Excel -> LibreOffice Calc"
text6: "Bitmapová grafika: GIMP"
text7: "Vektorová grafika: Inkscape"
text8: "Vypalování software: K3B"
text9: "Střih videa"
text10: "Prohlížení obrázků"
text11: "Práce se soubory"
text12: "Mail klient"
head4: "Požadavky na znalosti"
text13: "Obecná znalost počítačů."
text14: "Zajímají mě podrobnosti školení Základy práce v OS GNU/Linux"
head5: "Pokročilá práce s OS GNU/Linux"
text15: "Naučíte se pracovat v"
text15.1: "konzoli"
text15.2: ". Zefektivnit svoji práci pomocí skriptování v jazyce"
text15.3: "za použití rozličných nástrojů"
head6: "Požadavky na znalosti"
text16: "Základní znalost práce s PC s OS Linux."
text17: "Zajímají mě podrobnosti školení Pokročilá práce s OS GNU/Linux"