<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"   "https://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" >
    <link href="/css/body.css" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" href="/favicon.ico">
      <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
      <meta name="author" content="Bc. Josef Jebavý" >
      <meta name="generator" content="Bluefish 2.2.10" >
  <meta name="google-site-verification" content="MbeXvsACTdKE7lC10_buc1k0RvfxpVWgl2EoDn--dPo" >
      <link rel="stylesheet" href="{$basePath}/css/thickbox.css" type="text/css" media="screen" >
      <meta name="description" content="{ifset description}{include description}{else}{$articles[0]->description}{/ifset}">
      <meta name="keywords" content="{ifset keywords}{include keywords}{else}{$articles[0]->keywords}{/ifset}">
      <title>{ifset title}{include title}{else}{$articles[0]->title}{/ifset}  </title>
      <meta property="og:url" content="{ifset urlseo}{include urlseo}{else}{$articles[0]->urlseo}{/ifset} " />
      <meta property="og:type" content="website" />
      <meta property="og:titleshort" content="{ifset titleshort}{include block titleshort}{else}{$articles[0]->titleshort}{/ifset} " />
      <meta property="og:image" content="https://www.josefjebavy.cz/{ifset ogimage}{include block ogimage}{else}{$articles[0]->ogimage}{/ifset}" />


     <meta property="og:locality" content="Jilemnice" />
     <meta property="og:postal-code" content="5140 01" />
     <meta property="og:country-name" content="Česká republika" />
<style>

    .input-container span{
        display: none;
    }
    .focus span{
        display: block;
        color: #B3EFFF;
        font-size: 1rem;
    }
    .required label{
        color: white;
    }
    placeholder {

        color: #fff;
    }

</style>
  </head>
  <body>
  <div id="main">
      <a href="{link Homepage:default, locale => $articles[0]-> locale }">
     <div id="header">
          <div id="header-name">
                Josef Jebavý<br>
                <span>IT specialista</span>
          </div>
         <div id="lang">
         <a n:href="Homepage:default locale=>cs"><img src="{$basePath}/img/flag-cz.png" ></a>
         <a n:href="Homepage:default locale=>en"><img src="{$basePath}/img/flag-eng.png" ></a>
     </div>

         <div n:foreach="$flashes as $flash" n:class="alert">
             <span class="far fa-envelope"></span>
               <span class="msg"> {$flash->message} </span>
             <span class="close-btn">
                 <span class="fas fa-times"></span>
             </span>
         </div>
     </div>
     </a>

	{include content}

    {include "Homepage/kontakt.latte" }
    {include "contact-form.latte"}

	<div id="footer">
          &copy; 2013-{="now"|date:'Y'}, Bc. Josef Jebavý<br>
          Web is <a href="https://linuxserveradmin.eu/">powered by  linux server admin</a>
      </div>

	{block scripts}
	    <script src="https://nette.github.io/resources/js/3/netteForms.min.js"></script>

	    <script type="text/javascript" src="//default.xeres.cz/js/awstats_misc_tracker.js"></script>
          <script type="text/javascript" src="{$basePath}/js/jquery.js"></script>

          <script type="text/javascript" src="{$basePath}/js/thickbox.js"></script>
          <script type="text/javascript" src="{$basePath}/js/functions.js"></script>
        <script src="{$basePath}/js/form.js"></script>

      {/block}
    <noscript><img src="//default.xeres.cz/js/awstats_misc_tracker.js?nojs=y" height=0 width=0 border=0 style="display: none"></noscript>


<!-- Piwik -->

      <script type="text/javascript">


          $(".input").each(
              function(){
                  $(this).data('holder',$(this).attr('placeholder'));
                  $(this).focusin(function(){
                      $(this).attr('placeholder','');
                  });
                  $(this).focusout(function(){
                      $(this).attr('placeholder',$(this).data('holder'));
                  });

              });

              var _paq = _paq || [];
  // tracker methods like "setCustomDimension" should be called before "trackPageView"
  _paq.push(["setDomains", ["*.nabidka-sluzeb.xeres.cz","*.www.xeres.cz"]]);
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    var u="https://piwik.xeres.cz/";
    _paq.push(['setTrackerUrl', u+'piwik.php']);
    _paq.push(['setSiteId', '10']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'piwik.js'; s.parentNode.insertBefore(g,s);
  })();
</script>
<noscript><p><img src="https://piwik.xeres.cz/piwik.php?idsite=10&rec=1" style="border:0;" alt="" /></p></noscript>
<!-- End Piwik Code -->

</body>
</html>
