text1: "When setting up my notary office, I needed to solve the problem of building a small computer network with a small server, data sharing, remote data access and security, and especially backup. Cooperation with Pepa was professional, fast and matter-of-fact. Everything worked and still works according to my requirements. The server was really tailor-made, with an elegant small device with low power consumption, including backup to another small device. I highly recommend."
text2: "Thank you very much for your helpful approach, speed and professionalism. The server was installed as I intended, including all the necessary settings so that I could then manage the server via ISPconfig. Completed assignment: installation of Linux Debian 9.0 on HPE ProLiant DL320e server, Intel Xeon 1231v3 (3.4 Ghz) 4C / 8T 8MB, 32 GB DDR3 ECC 1600 MHz installation and configuration: Apache, PHP, Mysql, mail server, DNS server, ISPConfig. Everything, including the final handover, went well, so I can only recommend this professional. I look forward to further cooperation."
text3: "We cooperated with Mr. Jebavý on the installation of mail and web server in our company, which deals marginally with the provision of web hosting. Everything was always by appointment and based on reliable communication. I can recommend."
text4: "With Mr. Bc. Jebavý our company Sievert Consulting s.r.o. has been cooperating successfully for a long time. Mr. Jebavý takes complete care of the management and maintenance of all hardware parts of our application for the management and maintenance of SW KLID assets. We can highly recommend working with him if you want to have peace of mind and focus on your business and not waste time managing servers. We look forward to further years of mutual cooperation."
