text1: "Při zakládání mé notářské kanceláře jsem potřeboval vyřešit problém s vybudováním malé počítačové sítě s malým serverem, sdílení dat, s dálkovým přístupem dat a s jejich zabezpečením a hlavně zálohováním. Spolupráce s Pepou byla profesionální, rychlá a věcná. Vše fungovalo a stále funguje dle mých požadavků. Server vyřešil opravdu na míru, a to elegantním malým zařízením s malou spotřebou včetně zálohování na druhé jiné malé zařízení. Velmi doporučuji."
text2: "Velmi děkuji za ochotný přístup, rychlost a profesionalitu. Nainstalování serveru proběhlo podle mých představ, včetně veškerého potřebného nastavení, abych pak mohl server spravovat prostřednictvím ISPconfig. Splněné zadání: instalace Linux Debian 9.0 na server HPE ProLiant DL320e, Intel Xeon 1231v3 (3,4 Ghz) 4C/8T 8MB, 32 GB DDR3 ECC 1600 MHz instalace a konfigurace: Apache, PHP, Mysql, mailserver, DNS server, ISPConfig. Vše včetně závěrečného předání proběhlo v pořádku, proto mi nezbývá než tohoto profesionála doporučit. Těším se na další spolupráci."
text3: "S panem Jebavým jsme spolupracovali na instalaci mail a webserveru v naší společnosti, zabývající se okrajově poskytováním webhostingu. Vše bylo vždy podle domluvy a založeno na spolehlivé komunikaci. Můžu doporučit."
text4: "S panem Bc. Jebavým naše společnost Sievert Consulting s.r.o. dlouhodobě úspěšně spolupracuje. Pan Jebavý se nám stará kompletně o správu a údržbu všech hardwarových částí naší aplikace pro správu a údržbu majetku SW KLID. Spolupráci s ním můžeme všem vřele doporučit, chcete-li mít klid a věnovat se svému byznysu a neztrácet čas správou serverů. Těšíme se na další roky vzájemné spolupráce."
