head: "ISP Config training"
text: "I also perform all trainings online."
head1: "ISP Config use"
text1: "is an open source tool used to set up your own "
text1.1: "and "
text1.2: "At the training you will learn how"
text1.3: " use and what he can. You will also learn what the links are between the various services provided by this project. You will also learn about custom configuration options."
text2: "I am able to conduct training online in the form of a video consultation."
head2: "You will learn about ISP Config training"
text3: "training"
text3.1: " You will learn how to create and manage your own ISP Config"
text3.2: "webhosting and mailhosting"
head3: "ISP Config training syllabus"
text4: "Introduction: What is "
text4.1: "ISP Config, Installation"
text4.2: ", Components"
text5: "Web interface"
text6: "System"
text7: "How to create and manage users"
text8: "Mail hosting management: domains, accounts"
text9: "Configuration of filters and non-SPAM"
text10: "Creating with web hosting management: setting up and setting up"
text11: "FTP management"
text12: "A message "
text12.1: "databases"
text13: "Domain Management - DNS"
text14: "Modify the web server configuration."
text15: "Operation of different versions of PHP"
text16: "Quotas"
text17: "HTTPS, SSL certificates, Let's Encrypt"
text18: "Backup"
text19: "SSH on the server"
head4: "Knowledge requirements"
text20: "Awareness of how to deploy a website on the Internet."
text21: "I am interested in the details of ISPconfig usage training"