head: "Školení ISP Config"
text: "Všechna školení provádím i online."
head1: "ISP Config použití"
text1: "je opensource nástroj, který slouží k zřízení vlastního "
text1.1: "a "
text1.2: "Na školení se dozvíte, jak"
text1.3: " používat a co umí. Dále se dozvíte, jaké jsou vazby mezi jednotlivými službami, které zajišťuje tento projekt. Také se seznámíte s možnostmi konfigurace na míru."
text2: "Školení jsem schopen provádět online formou video konzultace."
head2: "Na školení ISP Config se  dozvíte"
text3: "školení"
text3.1: " ISP Config se naučíte vytvářet a spravovat vlastní"
text3.2: "webhosting a mailhosting"
head3: "Osnova školení ISP Config"
text4: "Úvod: Co je "
text4.1: "ISP Config, Instalace"
text4.2: ", Komponenty"
text5: "Webové rozhraní"
text6: "Systém"
text7: "Jak vytvářet a spravovat uživatele"
text8: "Správa mailhostingu: domény, účty"
text9: "Konfigurace filtrů a ani-SPAMu"
text10: "Vytváření s správa webhosting: založení a nastavení"
text11: "Správa FTP"
text12: "Správa "
text12.1: "databází"
text13: "Správa domén - DNS"
text14: "Úpravy konfigurace web serveru."
text15: "Provoz různých verzí PHP"
text16: "Kvóty"
text17: "HTTPS, SSL certifikáty, Let's Encrypt"
text18: "Zálohování"
text19: "SSH na serveru"
head4: "Požadavky na znalosti"
text20: "Povědomí o tom, jak nasadit web na Internet."
text21: "Zajímají mě podrobnosti školení ISPconfig použití"
