head: "Školení Filesystém BTRFS"
text: " Na"
text0.1: "školení"
text0.2: "'filesystém BTRFS'  se naučíte používat tento moderní filesystém, který lze použít k zálohování, a poznáte jeho možnosti. Naučíte se vytvářet snapshoty a RAID, provádět replikaci dat pomocí příkazu send/receive a ověříte si, jak funguje kontrola integrity dat. Vyzkoušíte si, jak je jednoduché s využitím jeho možností "
text0.3: "zálohovat"
text1: "Školení jsem schopen provádět online formou video konzultace."
text2: "Na školení se dozvíte a naučíte:"
text3: "školení"
text3.1: "se dozvíte jak funguje souborový systém Btrfs, jak ho používat a k čemu ho lze použít."
text4: "Osnova školení:"
text5: "Co je filesystém"
text6: "Filesystémy"
text7: "Média"
text8: "Souborový systém Btrfs"
text9: " Praktické použití BTRFS"
text10: "Instalace"
text11: "Vytvoření filesystému"
text12: "Práce s BTRFS"
text13: "RAID"
text14: "Test Btrfs"
text15: "Repair tools"
text16: "Úprava systému"
text17: "Zálohování s BTRFS"
text18: "Požadavky na znalosti"
text19: " Znalost na úrovni Linux admin a úložiště dat."
text20: "Požadavky na techniku"
text21: "Počítač se softwarem "
text22: "Kurz je pro"
text23: "Kurz je určen pro"
text24: "adminy linuxových serverů"
text25: "a uživatele linuxu, kteří chtějí víc od svého počítače."
text26: "Zajímají mě podrobnosti školení BTRFS"
