head: "BTRFS Filesystem Training"
text: " On"
text0.1: "training"
text0.2: "'BTRFS filesystem' you will learn to use this modern filesystem that can be used for backup and you will know its possibilities. You will learn how to create snapshots and RAID, perform data replication using the send / receive command, and verify how data integrity checking works. You will experience how easy it is to use its possibilities"
text0.3: "back up"
text1: "I am able to conduct training online in the form of a video consultation."
text2: "At the training you will learn and learn:"
text3: " training"
text3.1: "you will learn how the Btrfs file system works, how to use it and what it can be used for."
text4: "Training syllabus:"
text5: "What is a filesystem"
text6: "Filesystems"
text7: "The media"
text8: "Btrfs file system"
text9: " Practical use of BTRFS"
text10: "Installation"
text11: "Creating a filesystem"
text12: "Working with BTRFS"
text13: "RAID"
text14: "Test Btrfs"
text15: "Repair tools"
text16: "System modification"
text17: "Backup with BTRFS"
text18: "Knowledge requirements"
text19: " Knowledge of the level of Linux admin and data storage."
text20: "Requirements for technology"
text21: "Computer with software "
text22: "The course is for"
text23: "The course is intended for"
text24: "Linux server admins"
text25: "and Linux users who want more from their computer."
text26: "I am interested in the details of the BTRFS training"
