head: "Instalace hotových softwarových řešení a správa serverů"
text: "Řadu potřeb mají firmy společné. Jedná se hlavně o"
text0.1: "software každodenního použití"
text1: ", který už uživatelé považují za samozřejmý a bez něhož by se žádná firma neobešla. V podstatě vždycky se jedná o software již existující a často i masově nabízený. Ale i tímto softwarem se dá  zefektivnit práce, počínaje výběrem vhodného softwaru a konfigurací na míru potřebám uživatelů."
text2: "Elektronicka pošta - mail servery."
text3: "Webové servery."
text4: "Okamžitá komunikace - chat, telefonování přes Internet (VoIP)."
text5: "Systém pro správu obsahu / redakční systém / CMS."
text6: "Elektronický obchod - "
text7: "Systém pro sledování návštěvnosti."
text8: "Sdílení dat - síťová úložiště."
text9: "Vlastní server jako web/mail hosting:"
text10: "Nástroje pro vývoj a týmovou spolupráci např "
text11: "Zálohování"
text11.1: "a obnova dat."
text12: "Zajištění "
text12.1: "dohledu běhu aplikací a serverů"
text13: "Nebo instalace dohledového software"
text14: "na vlastní server."
text15: "Instalace Linuxu na desktopy, servery a embedded počítače."
text16: "Správa linuxových serverů."
text17: "Vizualizační nástroj:"
text18: "Po zprovoznění serverových aplikací je potřeba server  a aplikaci spravovat,"
text19: "správu linuxových serverů"
text20: "zajišťuji."
text21: "Nejčastější potřebou jsou programy pro univerzální a systematické sdílení dat."
text22: "Opomíjenou záležitostí je zálohovaní."
