head: "Install the existing software solutions and server management"
text: "A range of needs, companies have in common. This is mainly on"
text0.1: "software everyday use"
text1: ", users who already take for granted and without which no company could not do. In essence it is the always existing software and often sold mass. But even this software can streamline the work, from the selection of suitable software and configurations to meet the needs of users. "
text2: " Mail Servers"
text3: "Web server."
text4: "Instant communication - instant messaging, Voice over Internet (VoIP)."
text5: "Content Management System / CMS / CMS"
text6: "Ecommerce - "
text7: "Traffic Monitoring System"
text8: "Sharing data - network storage "
text9: "Own server as a web/mail hosting:"
text10: "Tools for development and teamwork such as"
text11: "Backup "
text11.1: " and Data Recovery"
text12: "Securing "
text12.1: "monitoring the running of applications and servers"
text13: "Installing Linux on desktops, servers and embedded computers"
text14: "Manage linux  servers"
text15: " Installing Linux on desktops, servers and embedded computers."
text16: "Manage linux  servers"
text17: "Visualization tool:"
text18: "After commissioning the server applications, it is necessary to manage the server and the application,"
text19: "linux server administration"
text20: "I provide."
text21: "The most common needs are programs for universal and systematic data sharing."
text22: "Backup is a neglected issue."
