head: "IT technologické zázemí firem posouvám z pravěku na špici trhu"
text: "S počítači jsem začal, protože jsem nebyl spokojen s IT technikou a chtěl jsem pomoci sobě i ostatním."
text1: "Řešení na míru"
text2: "tvořím již od r. 2009. Programuji v několika jazycích. Vždy volím ten programovací  jazyk, který je pro daný problém  "
text3: "nejvhodnější"
text4: "Úspěch vidím v tom, když moje práce někomu dalšímu"
text5: "pomůže a"
text6: "usnadní"
text7: "jeho práci."
text8: "Vývoj softwaru"
text9: "není jen o"
text9.1: "programování"
text9.2: ", ale předchází mu porozumění potřebám zákazníka a problému, který se řeší. Následně je potřeba  navrhnout způsob řešení a vytvořit přesné zadání."
text9.3: "Po realizaci je potřeba udržovat vchodu servery, kde běží realizovaná aplikace."
text10.1: "Průběžně navrhuji a realizuji další možnosti jak"
text10.2: "zefektivnit pracovní proces"
text10.3: "a vedu"
text10.4: "dokumentaci"
text11: "Pokud potřebujete vyřešit IT problém nebo potřebujete jen poradit, neváhejte mě"
text12: "kontaktovat"
menu: "Svoje služby Vám mohu nabídnout v těchto oblastech:"
menu1: "Vývoj softwaru"
menu2: "Instalace existující řešení, správa linux serveru"
menu3: "Konzultace, poradenství a analýzy"
menu4: "Školení"

