head: "I move the IT technology base of companies from prehistory to the top of the market"
text: "I started working with the computers because I was not satisfied with IT technology and I wanted to help others and myself."
text1: "I have been making"
text2: "customized solutions since 2009. I am programming in several programming languages. For each problem I  always choose"
text3: "the most suitable language."
text4: "I am happy when my work "
text5: "helps"
text6: "somebody else and makes his work"
text7: "easier"
text8: "Software development"
text9: "is not just about"
text9.1: "programming."
text9.2: ", At first  it is necessary to understand the needs of a  customer and the problem which is to be solved. Subsequently, it is necessary to design a solution and create an exact assignment."
text9.3: "After implementation, it is necessary to maintain the servers where the implemented application runs."
text10.1: "I continuously propose and implement other ways to"
text10.2: "make work process more effective"
text10.3: "and I write the"
text10.4: "documentation"
text11: "If you need to solve IT problem or get some advice do not hesitate to"
text12: "contact me"
menu: "I can offer you my services in these fields:"
menu1: "Software development"
menu2: "Ready-made software solutions and server management"
menu3: "Consulting and analysis"
menu4: "Training"