{contentType application/xml}
<?xml version="1.0" encoding="UTF-8" ?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">

    {foreach $langs as $lang}
        <url>
            <loc>{link Homepage:default $lang }</loc>
            <changefreq>weekly</changefreq>
            <priority>1.0</priority>
        </url>
    {/foreach }

    {foreach $articles as $article}
        <url>
            <loc>{link Article:default  $article['locale'], $article['urlseo']}</loc>

            <changefreq>weekly</changefreq>

            <priority>0.8</priority>

        </url>
    {/foreach }

</urlset>