head: "Vývoj softwaru"
text: "Při vývoji softwaru se nejen programuje, ale provádí i mnoho dalších činností:"
text1: "Sběr požadavků na software/zařízení, analýza, vytvoření konceptu a podrobného zadání."
text2: "Ověření, zda neexistuje podobné hotové řešení, které by se dalo použít nebo přizpůsobit pro řešení Vašich potřeb, což může ušetřit značné finance a čas."
text3: "Návrh softwarové architektury."
text4: "Vývoj softwaru."
text5: "Testovaní softwaru."
text6: "Výběr vhodného počítače nebo hostingu. Nasazení aplikace."
text7: "Vzdálená správa aplikace."
text8: "Vývoj embeded zařízení"
text9: "Další rozvoj aplikace."
text10: "Zkušenosti mám s vývojem aplikací pro desktopy, severy, "
text11: "tablety/mobilní telefony s Androidem a s vývojem webových aplikací. V dnešní době informačního světa, je vyžadováno propojování systémů například eshopy s učetnictvím."
text12: "  Jsem schopen"
text12.1: " převzít vývoj existujícího projektu"
text13: " a dále ho rozvíjet. Při úpravách existujícího programu je potřeba"
text13.1: "zahajít spolupráci po krocích"
