head: "Software Development"
text: "Software development is not only programs, but also performs many other tasks:"
text1: "The collection requirements for software / equipment, analysis, development of the concept and detailed instructions."
text2: "Verify that there is no such ready-made solution that could be used or adapted for a solution to your needs, which can save significant money and time."
text3: "Design software architecture."
text4: "Software Development."
text5: "software testing."
text6: "Selecting a computer or hosting."
text7: "Remote administration."
text8: "Development of  embedded projects"
text9: "Further development of the application."
text10: "I have experience with the development of applications for desktops, servers,"
text11: "tablets / mobile phones with Android and web application development. In today's information world, interconnection of systems such as e-shops and accounting is required."
text12: "I am able to"
text12.1: " take over the development of an existing project"
text13: " and further develop it. When editing an existing program, it is needed"
text13.1: "start cooperation step by step"