head: "Školení"
text: " Poskytuji odborná školení primárně na IT témata: programování, databáze, verzování softwaru, nábor lidí. Mohu připravit  i školení na míru.Nabídku konzultací a školení na nejčastější témata najdete níže."
text1: "Veškerá školení jsem schopen provádět online formou video konzultace."
head2: "Tématický seznam IT školení:"
text2: "V době šíření nemocí jako jsou zimní chřipkové epidemie nebo"
text3: "je ideální pracovat vzdáleně. Pokud pracovníci absolvují"
text4: "školení vzdálená práce"
text5: "bude moci firemní tým dále pracovat, aniž by se navzájem jednotlivci ohrožovat v šíření nemocí. Navíc  se naučí nové"
text6: "efektivní"
text7: "postupy práce."
text8: " Absolventi"
text9: "školení vývoj webových aplikací"
text10: "se naučí vyvíjet"
text11: "moderní webové aplikace"
text12: " a to za pomoci "
text13: "bezpečných"
text14: "efektivních"
text15: "nástrojů."
text16: "Potom co na"
text17: "školení Docker"
text18: "ovládnete tento nástroj, tak se"
text18.0: "zefektivní"
text18.1: "vaše práce. Také Vám"
text19: "umožní"
text20: "pohodlně provozovat různá vývojová prostředí"
text21: "- stará nebo nová."
text22: "Verzování softwaru: "
text23: "školení Git, GitLab"
text24: "Bez verzování nelze dlouhodobě úspěšně vyvíjet software."
text25: "Verzování"
text26: "zdrojového kódu je základní věc, kterou musí ovládnou"
text26.1: "každý programátor"
text27: "Školení ISP Config"
text27.1: " - nástroj pro správu <strong>vlastního mail a webhostingu"
text28: "Školení: základy práce v Linuxu a pokročilé použití"
text29: "Na"
text29.1: "školení Proxmox"
text29.2: "se naučíte ovládat nástroj pro vytváření a správu"
text29.3: "virtuálních serverů"
text30: "Btrfs je moderní linuxový  souborový systém. Na"
text30.1: "školení souborový systém Btrfs"
text30.2: "se dozvíte výhody tohoto filesystému,  jak ho používat a tyto výhody využít k "
text30.3: "efektivnější práci a bezpečí dat"
text31: "Školení paralelní programování "
text31.1: "vás naučí vyvíjet programy, které pracují"
text31.2: "paralelně"
text32: "Školení zaměřené na personální oblast: kariéra jednotlivce nebo nábor pracovníků"
text33: "Školení provádím typicky online nebo  v sídle firmy/zákazníka. V případě školení v sídle firmy je potřeba zajistit místnost s projektorem."