head: "Training"
text: "I provide professional training primarily on IT topics: programming, databases, software versioning, people recruitment. I can also prepare customized training. The offer of consultations and training on the most common topics can be found below. "
text1: "I am able to carry out all trainings online in the form of a video consultation."
head2: "Thematic list of IT training:"
text2: "At a time when diseases such as winter flu epidemics or"
text3: "it is ideal to work remotely. If workers graduate"
text4: "remote work training"
text5: "The corporate team will be able to continue working without threatening each other with the spread of disease. In addition, they will learn new ones"
text6: "effective"
text7: "work procedures."
text8: " Graduates"
text9: "web application development training"
text10: "will learn to evolve"
text11: "modern web applications"
text12: " with the help of"
text13: "safe"
text14: "effective"
text15: "tools."
text16: "After what"
text17: "Docker training"
text18: "You master this tool, making your work "
text18.0: "more efficient."
text18.1: "You too"
text19: "will allow"
text20: "comfortably run various development environments"
text21: "- old or new."
text22: "Software versioning: "
text23: "Git training, GitLab"
text24: "Without versioning, software cannot be successfully developed for a long time."
text25: "Versioning"
text26: "Source code is the basic thing they need to master"
text26.1: "every programmer"
text27: "ISP Config training"
text27.1: " - A tool for managing"
text27.2: "your own mail and web hosting"
text28: "Training: basics of working in Linux and advanced use"
text29: "On"
text29.1: "Proxmox training"
text29.2: "you will learn to control the creation and management tool"
text29.3: "virtual servers"
text30: "Btrfs is a modern Linux file system. On"
text30.1: "training file system Btrfs"
text30.2: "you will learn the benefits of this filesystem, how to use it and how to use these benefits to"
text30.3: "more efficient work and data security"
text31: "Parallel programming training"
text31.1: "will teach you to develop programs that work"
text31.2: "in parallel"
text32: "Personnel training: individual career or recruitment"
text33: "I typically conduct training online or at the company's / customer's headquarters. In the case of training at the company's headquarters, it is necessary to provide a room with a projector."