head: "Vývoj projektů kombinujících software a elektroniku"
text: "Oproti čistě"
text0.1: " softwarovému projektu"
text0.2: "se navíc jedná o:"
ul: "Výběr vhodné elektroniky"
ul1: "Vývoj zařízení"
ul2: "Testování zařízení"
ul3: "Úpravy zařízení"
ul4: "Stavba prototypu"
text1: "Mohu nabídnout především vývoj projektů pro telemetrii, průmyslové řízení nebo automatizaci budov, kde se používají pomalé a energeticky úsporné  bezdrátové sítě:"
text2: "Bezdrátový sběr dat z bateriově napájených čidel"
text3: "Detekce stoupavého proudění  pomocí bezdrátových teplotních čidel"
text4: "Měření teploty v úlech"
text5: "Obvykle se jedná o zařízení s"
text6: "mikrokontroléry"
text7: "nebo zařízení kde je jako základ jednodeskový počítač"
text8: " a jiné.."
