head: "Školení/Workshop Docker"
text: "Rychlost a náročnost vývoje aplikaci roste.  Proto v rámci zefektivnění je jednou z možností nasadit"
text1: "jako nástroj, který umožňuje rychle připravit stejné prostředí vývojové nebo testování. Docker je hodně rozšířen v oblastní vývojářů webových aplikací a tak díky mým znalosti z oblasti webserverů a webových aplikací, můžete očekávat typy právě pro oblast vývoje webů."
text2: "Video se zamyšlením,"
text2.1: "kdy je výhodné použít Docker"
text3: "Školení jsem schopen provádět online formou video konzultace."
text4: "Na školení se dozvíte a naučíte:"
text5: "Na"
text5.1: "školení"
text5.2: "se dozvíte co je to"
text5.3: "docker"
text5.4: ", k čemu slouží, jak funguje a naučíte se ho používat."
text6: "Osnova školení:"
text7: "Typy"
text7.1: "virtualizace"
text8: "Co je"
text9: "Rozdíly (výhody/nevýhody) oproti jiným technologiím"
text10: "Rozdíl mezi obrazem a kontejnerem"
text11: "Konfigurace Dockeru v systému"
text12: "Základní ovládání Dockeru"
text13: "Vytváření obrazů - Dockerfile"
text14: "Spouštění kontejneru"
text15: "Přihlášení do běžícího kontejneru a  práce v něm"
text16: "Volumes a použití"
text17: "Logování"
text18: "Síť"
text19: "Síťové porty"
text20: "Proměnné prostředí - ENV"
text21: "Inicializace dat kontejneru při startu - typicky import DB"
text22: "Docker-compose"
text23: "Aplikace postavená z více kontejnerů"
head2: "Požadavky na znalosti:"
ul: "Základy práce s"
link: "Linuxem"
ul1: "Základy práce v konzoli"
head3: "Požadavky na výbavu:"
ul2: "Počítač s nainstalovaný "
ul3: "nebo aspoň s VirtualBoxem"
ul4: "Přístup na internet"
link1: "Zajímá mě workshop Docker"