head: "Training / Workshop Docker"
text: "The speed and complexity of application development is growing. Therefore, as part of streamlining, it is one of the options to deploy"
text1: "as a tool that allows you to quickly prepare the same development or testing environment. Docker is widely used in the field of web application developers and so thanks to my knowledge of web servers and web applications, you can expect types just for the field of web development."
text2: "Video with reflection,"
text2.1: "when it is advantageous to use a Docker"
text3: "I am able to conduct training online in the form of a video consultation."
text4: "At the training you will learn and learn:"
text5: "On"
text5.1: "training"
text5.2: "find out what it is"
text5.3: "docker"
text5.4: "what it is used for, how it works and you will learn to use it."
text6: "Training syllabus:"
text7: "Types"
text7.1: "virtualization"
text8: "What is"
text9: "Differences (advantages / disadvantages) compared to other technologies"
text10: "The difference between an image and a container"
text11: "Docker configuration on the system"
text12: "Basic Docker controls"
text13: "Image creation - Dockerfile"
text14: "Launching the container"
text15: "Logging in to a running container and working in it"
text16: "Volumes and uses"
text17: "Logging"
text18: "Network"
text19: "Network ports"
text20: "Environment variables - ENV"
text21: "Initialization of container data at startup - typically DB import"
text22: "Docker-compose"
text23: "An application built from multiple containers"
head2: "Knowledge requirements:"
ul: "Basics of working with"
link: "Linux"
ul1: "Basics of working in the console"
head3: "Equipment requirements:"
ul2: "Computer with installed "
ul3: "or at least with VirtualBox"
ul4: "Internet access"
link1: "I'm interested in the Docker workshop"