head: "Poradenství, analýzy a školení"
text: "Výběr vhodného"
text0.1: "software"
text1: "pro řešení určitého problému je často "
text1.1: "Sisyfovský problém"
text1.2: "bez znalosti daných softwarů."
text2: "Dávám přednost svobodnému softwaru, jehož zásadní"
text2.1: "výhody"
text3: " se ukazují v delším horizontu. Ale ani uzavřený software nezavrhuji, pokud vyhovuje požadavkům, jeho funkčnost je bezproblémová a poskytuje možnosti, jak ho "
text3.1: "propojit s dalšími programy"
text4: "Výběr vhodného"
text4.1: "hardware"
text5: "Je zbytečné kupovat zbytečně výkonný hardware na běžnou kancelářskou práci a naopak je často problém vybrat vhodně dimenzovaný hardware pro provoz náročných aplikací. "
text6: "Analýza"
text6.1: "podnikových procesů"
text6.2: ", jejich optimalizace a úpravy."
text7: "Bezpečnost"
text7.1: " a analýza"
text7.2: "rizik"
text8: "Tato slova jsou stále častěji skloňována, ale v reálu stále přehlížena. Sítě a programy jsou často špatně realizovány  a hrozí, tak průnik neoprávněných osob a zneužití nebo dokonce zničení informací, které jsou životně důležité pro fungování firmy."
text9: "Po zprovoznění serverových aplikací je potřeba server  a aplikaci spravovat,"
text9.1: "správu linuxových serverů"
text9.2: "zajišťuji."
text9.3: "Test rychlosti načítaní a zobrazení webových stránek."
text10: "Zátěžový test webové aplikace"
text10.1: "- ověření, že aplikace bude pracovat  i při velké návštěvnosti"
text11: "Odbornost pracovníků je základ efektivní práce a proto provádím odborná"
text11.1: "školení na téma Unix/Linux a programování"
text12: "Analýza nastavení mailservu včetně"
text13: "s cílem zajistit vysokou doručitelnost emailů, aby"
text13.1: "nepadaly do SPAMu."
text14: "Jak na efektivní vývoj a jak řídit vývoj softwarových projektů. Ideální je absolvovat"
text14.1: "školení na Git a Gitlab"
text15: "Poradenství pro HR, majitele firem  a zaměstnance ohledně pracovního trhu"
text16: "Při veškeré činnosti beru v potaz i potřebu propagace. Proto při konzultacích a realizaci projektů beru v potaz"
text17: "Setkávám se s tím, že někteří prodejci nevědí jak správně řešit SEO a link building. Nebo nevhodně provádějí email marketing. Ochotně vysvětlím o co se jedná a jednotlivé pojmy i jak propagaci nejlépe provádět a jak komunikovat se zákazníkem."
text18: "Firmy nejsou často v mapě zakreslené a zbytečně tak nevyužívají možnost být dohledatelné. Proto provádím zakreslení do"
text19: "Je možné i vytvořit mapové podklady na míru, které se dají legálně bez speciálních poplatků libovolně použít. Tyto"
text20: "mapy"
text21: "používám také ve všech projektech."
text22: "Krom již připravených školení, rád připravím i školení na míru dle  Vašim potřeb."
text23: "Obvykle se jedná o pomoc s problémem, který  je pro Vás novinkou nebo je pro Vašeho současného dodavatele těžko řešitelný nebo se řeší těžkopádně."
