head: "Technologie"
text: "Při své práci jsem se naučil s těmito technologiemi:"
text1: "Programovací jazyky:"
text2: "napojení na:"
text3: "Verzování softwaru"
text4: "Automatizované testování např Unit testing."
text5: "Agilní vývojové metodiky např Scrum."
text6: "Administrace linuxových serverů (preferuji"
text7: "virtualizace"
text8: "Troubleshooting, šifrování, bezpečnost sítí a aplikací."
text9: "Mikrokontroléry: AVR (Arduino), ESP8266, pájení."
text10: "Komunikace"
text11: "Mluvení před publikem"
text12: "Vzdálená práce"
text13: "Plavání"
text14: "Seriál Souborový systém Btrfs"
text15: "Warduxere - Arduino s bezdrátovým připojením a malou spotřebou"
text15.1: "(časopis"
head2: "Odborné publikace"
text16: "Série článků o"
text16.1: "realizaci bezdrátových programovatelných modulů"
text17: "Série článků"
text17.1: "Banana Pi R1: malý počítač se SATA, Wi-Fi a switchem"
text18: "Detekce stoupavých proudů pomocí teplotních čidel (časopis "
text18.1: "RC Modely 2014/04"
text19: "Speciální redukce USB se zdrojem"
text19.1: "(časopis Amatérské Radio  2011/06)"
text20: "Mobilní bezdrátové měření teploty (časopis Mechanizace zemědělství 2011/06)"
text21: "Bezdrátové měření a vyhodnocení s použitím platformy IQRF (časopis Amatérské Radio 2011/01)"
text22: "WirelessBee moderní pomocník včelaře (časopis "
