head: "Technology"
text: " When i work on projects, I learned the following techniques:"
text1: "Programming languages:"
text2: "connection:"
text3: "Software Release"
text4: "Automated testing for example Unit testing."
text5: "Agile development methodologies such as Scrum."
text6: "Administration of Linux Servers (I prefer"
text7: "virtualization"
text8: "Troubleshooting, encryption, network and application security."
text9: "Microcontrollers: AVR (Arduino), ESP8266, soldering."
text10: "Comunication"
text11: "Speaking in front of the audience"
text12: "Remote work"
text13: "Swimming"
text14: "Series of articles: filesystém Btrfs"
text15: "Warduxere - Arduino with wireless connectivity and low power consumption"
text15.1: "(magazine"
head2: "Professional publications"
text16: "The series of articles about"
text16.1: "realization of wireless programmable modules "
text17: "The series of articles"
text17.1: "Banana Pi R1: small computer with SATA, Wi-Fi a switch"
text18: "Detection of  ascending air flows with the help of temperature detectors (magazine"
text18.1: "RC Modely 2014/04"
text19: "Special USB reduction with the power source"
text19.1: "(magazine Amatérské Radio  2011/06)"
text20: "Mobile wireless measurement of temperature (magazine Mechanizace zemědělství 2011/06)"
text21: "Wireless measurement and  evaluation with  the use of  platform IQRF (magazine Amatérské Radio 2011/01)"
text22: "WirelessBee – modern aid of a  beekeeper (magazine "
