head: "Lectures "
text: "I regularly attend conferences not only as a listener but also as a lecturer: "
text1: "Bitwarden: comfortable and secure password manager "
text1.1: " at conference "
text2: "BTRFS filesystem and backup "
text2.1: "at conference "
text3: "Video editing in Linux using SW Kdenlive "
text3.1: "at a conference "
text4: " I lectured about "
text4.1: "moder file system BTRFS  at the LinuxDays 2018 conference "
text4.2: "and the conference "
text5: "OpenAlt 2017 conference  and my lecture 'Backup by turning on my computer'. "
text5.1: "On "
text6: "OpenAlt conference "
text6.1: "I had lecture "
text7: "about a single-board computer Banana Pi R1. "
text8: "Arduino Day 2016 in Praze. "
text9: "Educational Lectures at high schools. "
head2: "Personal achievements: "
text10: "In 2013, I completed 526 hours of sports training and 350 of them were cycling. At the weekend I had two MTB ½ marathons and I myself provide support and service. And all this while a I was an employee. "
text11: "The climbing stream detection project for racing airplane modelers has helped "
text11.1: "win "
text11.2: "a medal place several times. "
text12: "In my spare time, I have fully assured the cooperation of the company and the sports team with the design and realization of the "
text12.1: "sponsored "
text12.2: "items. (socks with team logo). "
text13: " During the two flu I learned to solved a "
text13.1: "Rubik's cube "
text13.2: " and in two summer I learned to swim "
text13.3: "kraul well "
text14: "I learned to play the piano myself. "
head3: "Hobbies: "
text15: "Cycling, swimming, cooking, informatics, aeroplane modeling, aquaristics, electronics. "
head4: "Association: "
text16: " I am a member of "
text17: "and a supporter of "
head5: "Certificates: "
text18: "IT certificate: "
title1: "certifikát IT Josef Jebavý "
alt1: "certifikát IT Josef Jebavý "
text19: "Remote work: "
img1: "Remote work "
img2: "Project management "
text20: " Lifeguard: "
img3: "Lifeguard josef jebavý "
head6: "My online activity: "