head: "Přednášky"
text: "Pravidelně se účastním konferencí  nejen jako posluchač, ale i jako  přednášející:"
text1: "Bitwarden: Pohodlná a bezpečná správa hesel"
text1.1: "na konferenci"
text2: "Filesystém BTRFS a zálohování"
text2.1: "na koneferenci"
text3: "Střih videa v Linuxu pomocí SW Kdenlive"
text3.1: "na konferenci"
text4: "Na téma "
text4.1: "moderní souborový systém BTRFS jsem přednášel na konference LinuxDays 2018"
text4.2: "a konferenci"
text5: "Konference OpenAlt 2017 a moje přednáška s názvem 'Zálohuj zapnutím počítače'. "
text5.1: "Na"
text6: "koreferenci OpenAlt"
text6.1: "jsem měl"
text7: "přednášku o jednodeskovém počítači Banana Pi R1."
text8: "Arduino Day 2016 v Praze."
text9: "Osvětové  přednášky na středních školách."
head2: "Osobní úspěchy:"
text10: "V roce 2013 jsem absolvoval 526 hodin sportovní přípravy z toho 350 hodin na kole. O víkendech jsem absolvoval i dva MTB ½ maratony a sám jsem si zajišťovat podporu a servis. A to vše při záměstnání."
text11: "Projekt pro detekci stoupavých proudů pro závodní letecké modeláře, pomohl"
text11.1: "vyhrát"
text11.2: "několikrát medailové místo."
text12: "Ve svém volném čase jsem kompletně zajistil  spolupráci firmy a sportovního týmu s návrhem a realizaci"
text12.1: "sponzorských"
text12.2: "předmětů na míru (ponožky s logem týmu)."
text13: "Během dvou chřipek jsem se naučil skládat"
text13.1: "rubikovu kostku"
text13.2: " a za dvě léta naučil plavat dobře"
text13.3: "kraul"
text14: "Sám jsem se naučil hrát na pianino."
head3: "Koníčky:"
text15: "Cyklistika, plavání, vaření,  informatika, letecké modelaření, akvaristika, elektronika."
head4: "Spolky:"
text16: "Jsem členem"
text17: " a příznivec "
head5: "Certifikáty:"
text18: "IT certifikát:"
title1: "certifikát IT Josef Jebavý"
alt1: "certifikát IT Josef Jebavý"
text19: "Práce na dálku:"
img1: "Práce na dálku"
img2: "Projektové řízení"
text20: " Plavčík:"
img3: "plavčík josef jebavý"
head6: "Moje online aktivita:"
