head: "HR and career training"
text: "I also perform all trainings online."
head1: "HR training"
text1: "HR personnel and"
text1.1: "headhunters"
text1.2: "they address many candidates en masse with often irrelevant offers. They have a problem taking the candidate and describing the position, because they are not familiar with the positions held in the field. And it is for them that this training is here to improve their work. The training is primarily focused on IT specialists and related technical fields."
text2: "Half of the training is conducted as"
text2.1: "training"
text2.2: ", where they get acquainted with the field "
text2.3: "IT professionals"
text2.4: "and will be explained the technological concepts of the field. The difference between a human resources manager and a technician is great, so it is necessary to understand his way of working and motivation and connection with the personal level. The personnel learns how the technical specialist works and thinks. We will also describe typical mistakes to avoid recurrences"
text2.5: "The second half is conducted in the form of a guided discussion, so that one can retrospectively learn from previous problems and explain ambiguities."
head2: "At the training you will learn:"
text3: "After completing the training, the personnel specialist will be better able to present the company to the candidates, gain better employees and work more efficiently."
head3: "Training syllabus:"
text4: "What is programming"
head4: "Knowledge requirements:"
text4.1: "What a typical good programmer looks like."
text4.2: "Description and difference of different IT specializations."
text4.3: "Life philosophy of a programmer in different periods of life."
text4.4: "What to watch out for when addressing. How to properly contact a programmer or admin."
text4.5: "How the professional growth of an IT specialist takes place."
text4.6: "Glossary of terms."
text4.7: "How software development takes place."
text4.8: "Team software development methodologies."
text5: "After the training, it is possible to try out the developer's work process in the form of a card game."
text6: "None"
text7: "I am interested in HR training"
head5: "Career training / consultation"
text8: "This training significantly helps individual workers to find a job in the labor market, as it will help them understand the labor market and its needs and requirements, as well as their own value and strengths. Thanks to this, one can find an interesting and well-paid job and avoid dubious employers."
head6: "At the training you will learn: "
text9: "After completing a career"
text9.1: "training"
text9.2: "you will be better oriented in the market and will be looking for a good job more effectively."
head7: "Training syllabus"
text10: "What is the labor market"
text10.1: "Glossary of terms."
text10.2: " How the labor market works."
text10.3: "Specifics of the IT market."
text10.4: "Glossary of HR terms."
text10.5: "What is, can and how HR works in the IT field."
text10.6: "How to find out your skills / strengths?"
text10.7: "How to find out your price?"
text10.8: "Opportunities for professional and career growth"
text10.9: "How and where to look for a good job?"
text10.10: "What to watch out for and what to avoid"
head8: "Knowledge requirements:"
text11: "None"
text12: "I'm interested in career training"
