head: "Školení v oblasti HR a kariéry"
text: "Všechna školení provádím i online."
head1: "HR školení"
text1: "HR personalisté a"
text1.1: "headhunteři"
text1.2: "hromadně oslovují mnoho kandidátů často nerelevantními nabídkami. Mají problém kandidáta zaujmout a popsat danou pozici, protože se neorientují v oboru obsazované pozice. A právě pro ně je tu toto školení, aby zlepšili svojí práci. Školení je primárně zaměřeno na IT specialisty a příbuzné technické obory."
text2: "Školení je z půlky vedeno jako"
text2.1: "školení"
text2.2: ", kde se seznámí s oborem "
text2.3: "IT profesionálů"
text2.4: "a budou jim vysvětleny technologické pojmy oboru. Rozdíl mezi personalistou a technikem je velký, proto je potřeba porozumět jeho způsobu fungování a motivaci a propojení s osobní rovinou. Personalista se dozví jak technický specialista funguje a smýšlí. Popíšeme si také typické chyby, aby nedocházelo k opakovaným"
text2.5: "Druhá půlka je vedena formou řízené diskuze, tak aby se retrospektivně dalo poučit z dřívějších problémů a vysvětlili nejasnosti."
head2: "Na školení se dozvíte:"
text3: "Po absolvování školení personalista bude lepé prezentovat firmu kandidátům, získávat lepší zaměstnance a efektivněji pracovat."
head3: "Osnova školení:"
text4: " Co je to programování"
text4.1: "Jak vypadá typický dobrý programátor."
text4.2: "Popis a rozdíl různých IT specializací."
text4.3: "Životní filozofie programátora v různých životních obdobích."
text4.4: "Na co si dát pozor při oslovení. Jak správně programátora nebo admina oslovit."
text4.5: "Jak probíhá profesní růst IT specialisty."
text4.6: "Slovníček pojmů."
text4.7: "Jak probíhá vývoj software."
text4.8: "Metodiky vývoje software týmu."
text5: "Po skončení školení je možno formou karetní hry, si vyzkoušet proces práce vývojáře."
text6: "Žádné"
head4: "Požadavky na znalosti:"
text7: "Zajímá mě HR školení"
head5: "Kariérní školení/konzultace"
text8: "Toto školení výrazně pomáhá jednotlivým pracovníkům s uplatněním na trhu práce, protože jim pomůže pochopit trh práce a jeho potřeby a požadavky a také vlastní hodnotu a přednosti. Díky tomu si tak může člověk najít zajímavou a dobře placenou práci a pochybným zaměstnavatelům se vyhne."
head6: "Na školení se dozvíte: "
text9: "Po absolvování kariérního"
text9.1: "školení"
text9.2: " se lépe budete orientovat na trhu a efektivněji tak bude hledat dobrou práci."
head7: "Osnova školení"
text10: "Co je to trh práce"
text10.1: "Slovníček pojmů."
text10.2: " Jak funguje trh práce."
text10.3: "Specifika trhu  IT oboru."
text10.4: "Slovníček pojmů HR slečen."
text10.5: "Co je, umí a jak funguje HR v  IT oblasti."
text10.6: "Jak zjistit svoje schopnosti/přednosti?"
text10.7: "Jak zjistit svoji cenu?"
text10.8: "Možnosti odborného a kariérního růstu"
text10.9: "Jak a kde hledat dobrou práci?"
text10.10: "Na co si dát pozor a čemu se vyhnout"
head8: "Požadavky na znalosti:"
text11: "Žádné"
text12: "Zajímá mě karierní školení"
