head: "Školení GIT, GitLab"
text: "Všechna školení provádím i online."
text1: "Video "
text1.1: "co je to verzování a výhody plynoucí z verzování softwaru"
text2: "Také pojmenováváte soubory s udáním čísla nebo datumu např: "
text2.1: "soubor"
text2.2: "Bojíte se dělat úpravy a těžko se vám hledá a porovnává jaké změny byly udělány v minulosti?"
text3: "Se softwarem"
text3.1: "už se nebudete muset bát udělat jakoukoli úpravu."
text4: "je standard pro verzování mezi vývojáři softwaru, kdy slouží pro verzování zdrojových kódů aplikace. V klidu a rychle se budete moci kouknout na minulost vrátit ze k verzi z minulosti nebo porovnat změny textových souborů. Git je i výborný nástroj pro spolupráci na společném projektu, kdy každý může pracovat sám, změny prohlížeč, spojovat, předávat spolupracovníkům a nasazovat na server."
text5: "Na workshopu se dozvíte jak pomocí verzování"
text5.1: "zefektivnit"
text5.2: "práci a jak k tomu používat nástroj"
head1: "Kurz je pro"
text6: "Kurz je určen pro programátory všech úrovní a vedoucí projektů, kteří chtějí efektivně vyvíjet softwarové projekty."
head2: "Na školení GIT se dozvíte a naučíte:"
text7: " Po absolvování"
text8: "školení"
text9: "s nástrojem GIT se naučíte efektivně verzovat zdrojový kód."
head3: "Osnova školení"
text10: "Instalace GITu."
text11: "Konzolové a GUI rozhraní."
text12: "Založení repositáře projektu: lokálně, na serveru, bitbucket.org."
text13: "Použití: stažení dat (clone, pull), vložení úprav (commit), add ,odeslání změn (push)."
text14: "Použití v týmu: větvě (brach), spojení větví (merge)."
text15: "Prohlížení změn, sledování historie."
text16: "Git ignore, Revert, Tag."
text17: "Git flow(=způsob/proces vývoje za použití gitu):  release, fix"
head4: "Požadavky na výbavu:"
text18: "Zajímá mě workshop GIT"
head5: "Workshop GitLab"
text19: "Chcete ještě více zefektivni vývoj, vést projekt pomocí projektového řízení? Použijte nástroj"
text20: " Pomocí nástroje"
text21: "můžete efektivně vést projekty pomocí projektového řízení a delegovat práci a sledovat stav realizace úkolů"
head6: "Kurz je pro"
text22: "Kurz je určen pro programátory všech úrovní a vedoucí projektů, kteří chtějí efektivně vyvíjet softwarové projekty."
head7: "Na školení se dozvíte a naučíte:"
text23: "Na"
text24: "školení"
text24.1: "se seznámíte s nástrojem GitLab a naučíte se sním zpracovat a používat ho ke správě a vývoje projektů: vést úkoly, zapisovat dokumentaci, prohlížet commity atd. "
head8: "Osnova školení"
text25: "Seznámení s webovým rozhraním."
text26: "Založení GIT repozitáže."
text27: "Správa uživatelů."
text28: "Vytváření a práce s úkoly."
text29: "Vedení projektů: board, milestone, použití agilní metodiky."
text30: "Měření času."
text31: "Psaní dokumentace."
head9: "Požadavky na znalosti:"
text32: "Základní znalost verzovacího nastroje GIT."
head10: "Požadavky na výbavu:"
text33: "Webový prohlížeč, Git"
text34: "Zajímá mě workshop GitLab"

