head: "Doporučení"
head1: "Na volné noze"
text: "Zobrazit doporučení z portálu Navolnenoze.cz"
text1: "Zobrazit doporučení z portálu linkedin.com"
text2: "Výpis doporučení z portálu "
LinkedIn: "S Josefem jsem měl možnost pracovat ve stejné firmě. O problematiku správy Linux serverů se vždy aktivně  zajímal, a snažil se vždy přijít s řešením, které by firmě i zákazníkovi přineslo nějaký užitek a zjednodušení práce. Jako správce Linuxových serverů jej tedy můžu vřele doporučit."
LinkedIn1: "Josef se staral o správu serverů webové aplikace v Nette, kterou jsem programoval. Všechny požadavky na úpravy v konfiguraci řešil velice rychle a způsoby, aby uživatelé aplikace nebyli nijak omezeni. Jeho bohaté zkušenosti ve správě Linux serverů se hodí pro hladký chod každé webové aplikace. Taktéž dokáž navrhnout změny v procesech, které urychlí třeba nasazování úprav kódu na servery."
head3: "Webtrh"
text3: "Přejít na stránku s hodnocením na portále webtrh.cz."