head: "Recommendation"
head1: "Freelance"
text: "View recommendations from navolnenoze.cz"
text1: "See recommendations from linkedin.com"
text2: "Listing of recommendations from the portal  "
LinkedIn: "Josef and I had the opportunity to work in the same company. He has always been actively interested in the issue of managing Linux servers, and has always tried to come up with a solution that would bring some benefits and simplification of work to the company and the customer. As an administrator of Linux servers, I can highly recommend him."
LinkedIn1: "Josef took care of the servers of the web application in Net, which I programmed. He handled all configuration modification requests very quickly and in ways that would not limit the users of the application. His rich experience in managing Linux servers is suitable for the smooth running of any web application. I can also suggest process changes that speed up the deployment of code modifications to servers, for example."
head3: "Webtrh"
text3: "Recommendation on webtrh.cz"