head: "You can expect these advantages"
text1: "I use  my theoretical knowledge, which I got at my studies of information at the"
text2: ", and my practical experience. "
text3: "I always go to the heart of each problem and try to understand problems around me."
text4: "I have individual approach to each customer and I suggest the solutions and development which lead to the best result. "
text5: "The software which I recommend I know well as a"
text5.1: "programmer"
text5.2: "and also as a"
text5.3: "user"
text6: "and therefore I am able to offer practical and complex advice."
text7: " For example, I run Linux on my desktop too. On my client servers I run the same programs as my servers. Therefore I am able to explain in detail its functioning, point out possible problems and  difficulties   and suggest how to avoid them."
text8: "I prefer continuous personal consultations but at present I often use electronic communication, e.g. e-mail, chat (jabber), telephone or VoIP and "
text9: "video calls."
text10: "After handing over all the information and documents, I work independently, so we will save your time when you would otherwise have to manage employees."
text11: "Writing"
text11.1: "documentation"
text11.2: "is standard for me. The project, who to live, needs maintenance and  solution of requirements  is very hard work, without documentation."
text12: "How to get started cooperation and how I work"