head: "Očekávat můžete tyto výhody"
text1: "Využívám svých teoretických znalostí, které jsem získal  při studiu informatiky na"
text2: ", a  zkušeností z praxe. "
text3: "Také přehledu a znalostí věcí do hloubky, které získávám díky mé snaze porozumět všem věcem okolo."
text4: "Ke každému zákazníkovi přistupuji individuálně a navrhuji řešení a postupy, kterými se dosáhne nejlepšího výsledku. "
text5: "Se softwarem, který doporučuji, mám zkušenosti nejen jako"
text5.1: "programátor"
text5.2: ", ale i jako"
text5.3: "uživatel"
text6: ", a proto dokážu nabídnout praktické a komplexní rady."
text7: "Například linux provozuji i na mém pracovním počítači. Na serverech zákazníků provozuji stejné programy jako na mých serverech. Proto dokážu podrobně zasvětit do jeho provozování, upozornit na záludnosti a problémy a navrhnout řešení, jak problémům předcházet."
text8: "Preferuji průběžné osobní konzultace, ale v dnešní době je často nahrazuji elektronickou komunikací, ať už se jedná o e-mail, chat (jabber), telefon nebo VoIP a"
text9: "video konference"
text10: "Po předání všech informací a podkladů, pracuji samostatně, takže ušetříte svůj čas, kdy by jste jinak museli  řídit zaměstnance."
text11: "Vedení"
text11.1: "dokumentace"
text11.2: "je pro mě standard. Projekt, který má žít, potřebuje údržbu a bez dokumentace je pozdější řešení požadavků velmi náročné."
text12: "Jak zahájit spolupráci a jak funguji"