head: "Proxmox Workshop"
text: "Virtualization is a trend today. After all, running servers as virtual allows for greater efficiency because one physical machine can be used to run multiple servers and move the server to another physical machine as needed. Proxmox enables both full virtualization"
text1: "thus container virtualization"
text1.1: "In order for a company to run virtualization well, it is good to know how to work with the Proxmox tool."
text2: "I am able to conduct training online in the form of a video consultation."
head1: "At the training you will learn and learn:"
text3: "What is virtualization"
text4: "Types of virtualization"
text5: "What Proxmox is building on"
text6: "Installing Proxmox"
text7: "Proxmox settings"
text8: "Storage settings and options"
text9: "Creating and working with KVM virtual servers"
text10: "Creating and working with LXC containers"
text11: "Backup and recovery"
text12: "Migration and HA"
head2: "Knowledge requirements:"
text13: "Basics of Linux server administration"
text14: "Equipment requirements:"
text15: "Computer ssh with client and browser."
text16: "A physical machine that supports virtualization."
text17: "I am interested in the Proxmox workshop"