head: "Workshop Proxmox"
text: "Virtualizace je trend dnešní doby. Ostatně provoz serverů jako virtuálních, umožňuje vetší efektivitu, protože jeden fyzický stroj se dá použít pro běh více serverů a dle potřeby server přesunout na jiný fyzický stroj. Proxmox umožňuje jak plnou virtualizaci"
text1: "tak kontejnerovou virtualizaci"
text1.1: "Aby firma mohla dobře virtualizaci provozovat je dobré znát jak s násrojem Proxmox pracovat."
text2: "Školení jsem schopen provádět online formou video konzultace."
head1: "Na školení se dozvíte a naučíte:"
text3: "Co je virtualizace"
text4: "Typy virtualizace"
text5: "Na čem staví Proxmox"
text6: "Instalace Proxmoxu"
text7: "Nastaveni Proxmoxu"
text8: "Nastavení a možnosti úložiště"
text9: "Vytváření a práce s KVM virtuálními servery"
text10: "Vytváření a práce s LXC kontejnery"
text11: "Zálohování a obnova"
text12: "Migrace a HA"
head2: "Požadavky na znalosti:"
text13: "Základy správy linuxových serverů"
text14: "Požadavky na výbavu:"
text15: "Počítač ssh s klientem a prohlížečem."
text16: "Fyzický stroj, který podporuje virtualizaci."
text17: "Zajímá mě workshop Proxmox"