head: "Paralelní programování v jazyce Java"
text: "Paralelní programování zvyšuje výkon a zlepšuje interaktivitu programů, avšak také skýtá jistá rizika. Na tomto školení se dozvíte, jak vyvíjet programy s použitím vláken v jazyce Java tak, aby paralelní zpracování dat probíhalo v pořádku."
text1: "Školení jsem schopen provádět online formou video konzultace."
head1: "Požadavky na znalosti"
text2: "Základní schopnost programovat v jazyce Java."
text3: "Zajímají mě podrobnosti školení Paralelní programování v jazyce Java"
