head: "Contact me"
jmeno: "Name:"
jmeno-placeholder: "Enter a Name"
jmeno-required: "Please fill in the name"
email-required: "Enter an email"
email-placeholder: "Enter an email"
predmet: "Subject:"
predmet-required: "subject of messages"
predmet-placeholder: "Enter a Subject"
zprava: "Message:"
zprava-required: "Please describe what you need help with"
zprava-placeholder: "Write us a message"
mesic: "Control question. Now what is the number of the month?"
mesic-rule1: "The month must be a number "
mesic-rule2: "Enter the number of the current month"
submit-btn: "Submit"
flashMessage: "Email was sent"
