head: "Kontaktujte ma"
jmeno: "Jméno:"
jmeno-placeholder: "Zadejte Jméno"
jmeno-required: "Vyplňte jméno prosim"
email-required: "Zadejte e-mail"
email-placeholder: "Zadajte Email"
predmet: "Predmet:"
predmet-required: "předmět zprávy"
predmet-placeholder: "Zadajte Predmet"
zprava: "Zpráva:"
zprava-required: "Popište prosím s čím potřebujete pomoci"
zprava-placeholder: "Napište nám Zprávu"
mesic: "Kontrolní otázka. Nyní je jaké číslo měsíce?"
mesic-rule1: "Měsíc musí být číslo "
mesic-rule2: "Vložte číslo aktuálního měsíce"
mesic-required: "Zadajte čislo mesiaca"
submit-btn: "Odoslat"
flashMessage: "Email byl odeslan"

