head: "References"
text: "Continued develop of project"
text1: "Make conenction to API with data of weather predictions and import it to application"
text2: "Manage Servers and DevOps"
text3: "Migration of servers and applications:"
text4: "Develop embedded devices with Linux using"
text4.1: "Yocto Project"
text5: "Research and Develop  embedded  IoT router for Rockwell Automation"
text6: "Maintain firmware and develop"
text7: "industrial Linux router"
text8: "Warduino - platform  for wireless communication"
text9: "Warduino was awarded the prize in a magazine for the design of electronic journals"
text10: "Wireless sensors network"
text11: "Weather station to estimate the thermals."
title1: " The device for detection of ascending air flows."
text12: "The Study of connection of external hardware to the device with Android."
text13: "Import of goods to"
text13.1: "Eshop  Prestashop"
text13.2: "the update of the store and prices of the goods."
text14: "The device for playing music – JukeBox."
text15: "Web camera weather Frýdlant."
text16: "Servers: net store, firewall, mail server, web server, etc."
text17: "Managing virtual and physical servers of company Knitva s.r.o."
text18: "Application for the administration of firm customers and logistics (planning of routes)."
text19: "Measuring of the temperature of bee colonies"
text20: "Application of cell phones which seeks the traffic  routes."
text21: "Web application for  display of GPS records"
text22: "Encryption on chip card with technology Java Card OpenPlatform"
text23: "Program for monitoring the backup battery (UPS)."
