head: "Reference"
text: "Převzetí vývoje  projektu"
text1: "Napojení na API s daty předpovědí a import do aplikace"
text2: "Správa serverů a DevOps"
text3: "Migrace serverů a aplikací :"
text4: "Vývoj embedded zařízení s Linuxem za použití"
text4.1: "Yocto projektu"
text5: "Výzkum a vývoj  embedded IoT routeru pro Rockwell Automation"
text6: "Údržba firmwaru a vývoj"
text7: "průmyslový Linuxový router"
text8: "Warduino - platforma  pro bezdrátovou komunikaci"
text9: "Warduino získalo ocenění za elektronickou konstrukci od časopisu"
text10: "Bezdrátové sítě pro sběr dat z čidel"
text11: "Zařízení pro detekci stoupavých proudů."
title1: "měření teploty a vizualizace v grafu v reálném čase"
text12: "Studie připojení externího hardwaru k zařízení s Androidem"
text13: "Import zboží do"
text13.1: "Eshopu  Prestashop"
text13.2: "aktualizace skladu a cen zboží."
text14: "Zařízení pro přehrávání hudební kulisy - JukeBox."
text15: "Web kamera počasí Frýdlant"
text16: "Servery: síťové úložiště, firewall, mail server, web server atd.."
text17: "Správa virtuálních a fyzických serverů firmy Knitva s.r.o."
text18: "Aplikace pro správu firemních odběratelů a plánování tras."
text19: "Měření teploty včelstev"
text20: "Aplikace pro mobilní telefony, která vyhledává dopravní spojení."
text21: "Webová aplikace pro zobrazení GPS záznamů."
text22: "Realizace šifrovaní na čipových kartách Java Card OpenPlatform"
text23: "Program pro monitoring záložních zdrojů (UPS)."

